/*
*	Author: Marcelo Muñoz
*	Fecha:  2019-01-30
*/

/* secciones */
{
	font-family: "Arial","sans";
}

html {
    font-size: initial;
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}

body{
	/*font-family: inital;
	font-size: initial;*/
	font-size: 12px;
    font-weight: initial;
    line-height: initial;
    color: initial;
    background-color: initial;
    /*margin:8px;*/
}

.pie{
	/*position: fixed;*/
	text-align: center;
	bottom: 0;
	width: 100%; 
	height: 30%;
}

.h-wai{
	color: #9FA3A5;
	font-size: 18px;
	font-weight: bold;
	padding: 0;
	margin-top: 5px;
}

.contenido{
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 3%;
}

table{
	margin-bottom: 3px;
}

/* Formularios etiquetas */
.form-label-derecha {
	text-align: right;
	color: #fff;
	padding: 3px;
	vertical-align: middle;
	background-color: #215C85;
	border-radius: 3px;
	font-size: 13px;
	font-weight: bold;
}

.form-label-izquierda {
	text-align: left;
	color: #fff;
	padding: 3px;
	vertical-align: middle;
	background-color: #215C85;
	border-radius: 3px;
	font-size: 13px;
	font-weight: bold;
}

.form-label-centrado {
	text-align: center;
	color: #fff;
	padding: 3px;
	vertical-align: middle;
	background-color: #215C85;
	border-radius: 3px;
	font-size: 13px;
	font-weight: bold;
}

.form-label-derecha-15 {
	text-align: right;
	color: #fff;
	font-weight: bold;
	padding: 3px;
	vertical-align: middle;
	background-color: #215C85;
	border-radius: 3px;
	font-size: 15pt;
}

.form-label-izquierda-15 {
	text-align: left;
	color: #fff;
	font-weight: bold;
	padding: 3px;
	vertical-align: middle;
	background-color: #215C85;
	border-radius: 3px;
	font-size: 15pt;
}

.form-label-centrada-15 {
	text-align: center;
	color: #fff;
	font-weight: bold;
	padding: 3px;
	vertical-align: middle;
	background-color: #215C85;
	border-radius: 3px;
	font-size: 15pt;
}

.form-label-derecha-18 {
	text-align: right;
	color: #fff;
	font-weight: bold;
	padding: 3px;
	vertical-align: middle;
	background-color: #215C85;
	border-radius: 3px;
	font-size: 18pt;
}

.form-label-izquierda-18 {
	text-align: left;
	color: #fff;
	font-weight: bold;
	padding: 3px;
	vertical-align: middle;
	background-color: #215C85;
	border-radius: 3px;
	font-size: 18pt;
}

.form-label-centrado-18 {
	text-align: center;
	color: #fff;
	font-weight: bold;
	padding: 3px;
	vertical-align: middle;
	background-color: #215C85;
	border-radius: 3px;
	font-size: 18pt;
}

.form-label-derecha-22 {
	text-align: right;
	color: #fff;
	font-weight: bold;
	padding: 3px;
	vertical-align: middle;
	background-color: #215C85;
	border-radius: 3px;
	font-size: 22pt;
}

.form-label-izquierda-22 {
	text-align: left;
	color: #fff;
	font-weight: bold;
	padding: 3px;
	vertical-align: middle;
	background-color: #215C85;
	border-radius: 3px;
	font-size: 22pt;
}

.form-label-centrado-22 {
	text-align: center;
	color: #fff;
	font-weight: bold;
	padding: 3px;
	vertical-align: middle;
	background-color: #215C85;
	border-radius: 3px;
	font-size: 22pt;
}

.form-label-categoria-derecha {
	text-align: left;
	color: #400040;
	padding: 3px;
	vertical-align: middle;
	background-color: #c0c0c0;
	border-radius: 3px;
	font-size: 13px
}

.form-label-categoria-izquierda {
	text-align: left;
	color: #400040;
	padding: 3px;
	vertical-align: middle;
	background-color: #c0c0c0;
	border-radius: 3px;
	font-size: 13px
}

.form-label-categoria-centrado {
	text-align: center;
	color: #400040;
	padding: 3px;
	vertical-align: middle;
	background-color: #c0c0c0;
	border-radius: 3px;
	font-size: 13px
}

.form-label-derecha-azul {
	text-align: right;
	font-weight: bold;
	padding: 3px;
	vertical-align: middle;
	color: #1d6caf;
}

.form-label-izquierda-azul {
	text-align: left;
	color: #fff;
	padding: 3px;
	vertical-align: middle;
	background-color: #1d6caf;
}

.form-label-centrado-azul {
	text-align: center;
	color: #fff;
	padding: 3px;
	vertical-align: middle;
	background-color: #1d6caf;
}

.form-label-grande-derecha {
	text-align: right;
	color: #fff;
	font-weight: bold;
	padding: 1px;
	vertical-align: top;
	background-color: #1d6caf;
	font-size: 12px;
}

.texto-justificado {
	white-space: pre-wrap;
}

/* Combo box */
.form-combo-centrado-15 {
	text-align: center;
	color: #fff;
	font-weight: bold;
	padding: 3px;
	vertical-align: middle;
	border-radius: 3px;
	width: 10%;
}

/* Formularios cajas de texto */
.form-input-derecha {
	text-align: right;
	padding: 1px;
	vertical-align: top;
	font-size: 13px;
}

.form-input-izquierda {
	text-align: left;
	padding: 3px;
	vertical-align: top;
	font-size: 13px;
}

.form-input-centrado {
	text-align: center;
	padding: 3px;
	vertical-align: top;
	font-size: 13px;
}

.form-input-ajustado {
	text-align: left;
	padding: 3px;
	vertical-align: middle;
	width: 15%;
}

.form-input-upper {
	text-transform: uppercase;
}

.form-input-pequeno {
	text-align: left;
	padding: 3px;
	vertical-align: middle;
	width: 85%;
	font-size: 12px;
}

input[disabled], 
textarea[disabled] {
	color: #000000;
	background-color: #ffffff;
	border: none;
}

.unresizable {
    resize: none;
}

.margenError.ui-panel{
	padding:5%;
	margin:5%;
	border-color:#99091E; 
	border-style:solid;
	border-width: 10px;
}

.mensajeError {
	text-align: right;
	color: #023767;
	font-weight: bold;
	padding: 1px;
	vertical-align: top;
	font-size: 18px;
}

.divBotones{
	margin-bottom:3%; 
	padding-top:1%; 
	padding-bottom:2%;
	text-align:center;
}

/* Bootsfaces */
.navbar {
  min-height: 30px;
  margin-bottom: 0px;
}

.form-group{
	margin: 0;
}

/* Primefaces */
h1.pf {
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h2.pf {
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h3.pf {
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.pf,
.pf * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

label.pf {
    font-weight: initial;
}

table.pf,
.pf table {
    border-spacing: 2px;
    border-collapse: separate;
}
.pf td {
    padding:1px;
}

.nest-bf-in-pf 
.form-group {
    margin-bottom:0px;
}
