/*Media Querys*/

.enlace{
    padding:0% !important;
    margin:10% 0 0 0 !important;
    height: 100px !important;
    background: url("../images/gobec_enlace.png") !important;
    background-size: 100% 100% !important;
    background-position: center center !important;
    position: relative;
}

.center {
    width: 62%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form-label-izquierda-blanco {
    text-align: center;
    color: #000;
    padding: 3px;
    vertical-align: middle;
    background-color: white;
}

.panelA{
    width: 60% !important;
}

.dialogA{
    width: 35%!important;
    height: auto !important;
}

.scrollA{
    width:100%;height:auto;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .panelA{
        width: 100% !important;
    }
    .dialogA{
        width: 100%!important;
        height: auto !important;
    }
}

@media only screen and (min-height: 300px) {
    /* For mobile phones: */
    .scrollA{
        width:100%;
        height:auto;
        max-height: 254px;
    }
}
@media only screen and (min-height: 500px) {
    /* For mobile phones: */
    .scrollA{
        width:100%;
        height:auto;
        max-height:445px;
    }
}

@media only screen and (min-height: 200px) {
    /* For mobile phones: */
    .scrollA{
        width:100%;
        height: auto;
        max-height:200px;
    }
}

@media only screen and (max-width: 640px) {
    /* For mobile phones: */
    .center {
        width: 95%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
/*@media only screen and (max-width: 1110px) {
     For mobile phones: 
    .center {
        width: 73%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
@media only screen and (max-width: 1300px) {
     For mobile phones: 
    .center {
        width: 63%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}*/